.MuiAppBar-root {
    background-color: #3c6000;
  }
  
  .MuiInputBase-input {
    color: #3c6000;
  }
  
  .MuiTypography-root {
    color: white;
  }
  
  .MuiButton-root {
    color: white;
  }
  